*{
    margin: 0px;
    padding: 0px;
}

.baner{
    /* background-image: url(""); */
    height: 600px;
    max-width: 1300px;
    background-image: url("resources/Banner\ Image.png");
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 17px;
}
.baner h3{
    max-height: 40px;
    max-width: 260px;
    color: white;
    text-align: center;
    margin-left: 530px;
    padding-top: 77px;
    font-size: 32px;
    font-weight: 400;
}
.baner h1{
    max-height: 190px;
    width: 630px;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-left:344px;
    line-height: 95px;
    border: 1px whitesolid;
}
.off{
    height: 600px;
    width: 500px;
    text-align: center;
    margin-left: 360px;
   padding-bottom: 90px;
}
.off h1{
    height: 80px;
    width: 350px;
    color: red;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 195px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.hed6{
    text-align: center;
    margin-left:280px;
    max-width: 600px;
    max-height: 40px;
    color: rgb(215, 10, 10);
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
    padding-right: 30px;

}
.off h2{
    margin-left: 250px;
    margin-bottom: 30px;
    font-weight: 700;
}
.container{
    height: 600px;
    max-width: 1300px;
  background-image: url(resources/Vectorrr.png);
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 17px 17px 17px 17px ;
    padding-top: 30px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

}
.contaier-item2{
    display: flex;
    width: 310px;
    max-height: 420px;
    padding: 0.008px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
    margin-top: 50px;
}
.title2{
    width: 600px;
    height: 160px;
    margin-left: 150px;
    margin-top: 150px;
    color: rgb(255, 255, 255);
    font-size: 69px;
    font-weight: 900;
    letter-spacing: 7;
}
.para{
    margin-left: 150px;
    width: 700px;
    height: 70px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
}
.contaier-item button{
    margin-left: 150px;
    border: none;
    background: none;
    color: #fff;
}
.vector{
    height: 450px;
    width: 1300px;
    background-color: rgb(221, 201, 201);
    margin: 60px;
    margin-right: 50px;
    align-items: center;
}
.description{
    height: 160px;
    width: 550px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: black;
    margin-left: 360px;
    padding-top: 100px;
}
.description span{
    color: red;
}
.vector button{
    width: 160px;
    height: 50px;
    background-color: red;
    color: white;
    text-align: center;
    margin-left: 550px;
    border-color: red;
    border-radius: 10px;
    margin-top: 17px;
}
.ofer{
    display: flex;
    height: 410px;
    width: 1300px;
    margin-left: 60px;
    justify-content: space-between;
    margin-top: 140px;
}
.colum h2{
    height: 30px;
   width: 190px;
   color: red;
   margin-top: 50px;
}
.colum h1{
    height: 60px;
    width: 320px;
    margin-top:5px ;
}
.colum p{
    height: 128px;
    width: 390px;
    color: rgb(139, 136, 136);
}
.colom1{
    height: 410px;
    width: 410px;
   
}
.circle{
    padding-right: 140px;
    max-height: 310px;
   max-width:310px;
    
}
.colum2 h1{
    height: 55px;
    width: 125px;
    margin-right: 50px;
    margin-top: 50px;
    color: red;
} 
.colum2 p{
    height: 90px;
    width: 270px;
    color: rgb(139, 136, 136);
}
.sale h3{
    width: 260px;
    height: 30px;
    text-align: center;
    margin-left: 590px;
    font-size: 24px;
    margin-top: 50px;
}
.sale h1{
    height: 90px;
    width: 650px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left:380px ;
}

.sale h1 span{
    color: red;

}
.sale p{
    width: 900px;
    height: 90px;
    color: rgb(139, 136, 136);
    margin-top: 10px;
    margin-left: 280px;
    text-align: center;
}

  /* problem */
.problem{
    max-width: 1330px;max-height: 593px;
     background-color: aqua; 
     background-image: url("resources/Rectangle\ 2.png");
     background-repeat: no-repeat;
     background- ;
  
    
}
.one{
    background-image: url("resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    
    
}
.two{
    height: 590px;
    width: 600px;
    margin-top: 300px;
}


/* arekta */

.again{
    max-height: 1100px;
    width: 1300px;
    margin-top: 40px;
    margin-left: 60px;
}
.desc h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 52px;
}
.desc h3{
    color: red;
    font-size: larger;
}
.desc p{
    min-width: 700px;
    font-size: larger;
    margin-bottom: 10px;
}
.pics{
    margin-top: 40px;
}

.mail{
    height: 500px;
    width: 1300px;
    background-color: rgb(226, 167, 160);
    margin-left: 55px;
    margin-top: 100px;
    align-items: center;
    border-radius: 15px;
    
}
.mail img{
    max-width: 140px;
    max-height: 140px;
    margin-left: 550px;
    margin-top: 80px;

}
.mail h1{
    max-width: 500px;
    min-height: 60px;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 380px;
}
.mail p{
    max-width: 850px;
    max-height: 64px;
    text-align: center;
    margin-left: 190px;
    margin-top: 8px;
}
.but{
    min-width: 648px;
    min-height: 72px;
    margin-left: 400px;
    margin-top: 70px;
}
.but button{
    margin-left: 0px;
    max-width: 92px;
    height: 32px;
    color: rgb(253, 253, 253);
    background-color: red;
    font-size: small;
    border-color: red;
    border-radius: 0px 18px 18px 0px;
    padding-left: 5px;
}
.but input{
    margin-right: 0px;
    width:370px ;
    height: 32px;
    background-color: #fff;
    border: #fff;
    border-radius:18px 0px 0px 18px ;
}

.foter{
    width: 100%;
    height: 450px;
    background-color: black;
    margin-top: 90px;
    display: flex;
}
.foter-des h5{
    height: 80px;
    width: 360px;
    color: white;
    padding: 4px;
    margin-left: 140px;
    padding-top: 120px;
    font-weight: 400;
}
.foteradd{
    color: white;
    
    margin-left: 1070px;
    padding-bottom: 400px;
   
}